a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
}

.header h1.logo {
    font-size: 1em;
    margin: var(--lumo-space-m);
}


/* List view */
.list-view .content {
    display: flex;
}

.list-view .contact-grid {
    flex: 2;
}

.wallet-form {
    flex: 2;
    min-width: 500px;
    margin-left: 2%;
    margin-right: 2%;
}

.exchange-portal-form {
    flex: 2;
    min-width: 350px;
    margin-left: 2%;
    margin-right: 2%;
}

.wallet-item-form {
    flex: 2;
    min-width: 350px;
    margin-left: 2%;
    margin-right: 2%;
}

.item-to-buy-save {
    flex: 2;
    min-width: 500px;
    margin-left: 2%;
    margin-right: 2%;
}

.item-to-buy-finalize {
    flex: 2;
    min-width: 500px;
    margin-left: 2%;
    margin-right: 2%;
}

.item-to-buy-delete {
    flex: 2;
    min-width: 500px;
    margin-left: 2%;
    margin-right: 2%;
}

.list-view {
    padding: var(--lumo-space-m);
}

@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
}

.dashboard-view .contact-stats {
    font-size: 4em;
    margin: 1em 0;
}